name: Release
on:
  workflow_dispatch:
    inputs:
      next-version:
        type: choice
        options:
          - bump-minor
          - bump-patch

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      mode: release
    secrets: inherit
    permissions:
      id-token: write
      contents: read
      packages: write

  release-to-github-and-bump:
    uses: gardener/cc-utils/.github/workflows/release.yaml@master
    needs:
      - build
    secrets: inherit
    with:
      release-commit-target: branch
      next-version: ${{ inputs.next-version }}
      slack-channel-id: C9CEBQPGE # #sap-tech-gardener
    permissions:
      id-token: write
      contents: write
      packages: write
